{% extends 'base.html' %}

{% block title %}Estoque{%  endblock %}

{% block content %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1><i class="far fa-hand-point-right"></i>PRODUTOS<i class="fas fa-hand-holding-usd"></i></h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-success" id="btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar produto:">
        </form>
    </div>
        <div class="col-8 m-auto pt-2 pb-2 filter-div">
            <span id="filtrar-por" class="col-2">Filtrar por:</span>
            <select name="filter" id="filter" class="form-control">
                <option value="">Escolha uma opção:</option>
                <option value="cos">Cométicos</option>
                <option value="alim">Alimentício</option>
                <option value="indu">Industrial</option>
            </select>
            <select name="filter-alfabetica" id="filterAlf" class="form-control">
                <option value="">Ordenar por:</option>
                <option value="crescente">A-Z</option>
                <option value="decrescente">Z-A</option>
                <option value="recentes">Recentes</option>
                <option value="antigos">Antigos</option>
            </select>
            <form method="GET" id="form-buscar-data">
                <input type="text" id="buscar_data" name="buscar_data" placeholder="Buscar por ano: ">
            </form>
            <a href="/" class="btn btn-warning" name="recarregar" id="recarregar"><i class="fas fa-undo"></i></a>
        </div>
    <div class="col-2 m-auto p-1 text-center total-div">
        <h5 class="text-center" id="total">Total de registros: {% if db %}{{db.paginator.count}} {% else %}{{filter.paginator.count}}{% endif %} </h5>
    </div>      
    <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr id="cabecalho">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data/Aquisição</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
{% if db %}    
            {% for dbs in db %}
              <tr id="items">
                <th>{{dbs.id}}</th>
                <td>{{dbs.nome}}</td>
                <td>{{dbs.tipo}}</td>
                <td>{{dbs.data}}</td>
                <td>{{dbs.quantidade}}</td>
                <td id="td">
                    <a href="/view/{{dbs.id}}/" class="btn btn-dark" >Visualizar</a>
                    <a href="/edit/{{dbs.id}}/" class="btn btn-primary" >Editar</a>
                    <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            <a href="/table" class="btn btn-info" id="gerar-pdf">GERAR PDF</a>
            <a href="/emprestimo" class="btn btn-warning">VENDAS</a>
            <a class="btn btn-primary" href="/accounts/logout" role="button" id="sair"><i class="fas fa-sign-in-alt"></i></a>
        </p>
    </div>
    <div class="pagination">
        <nav aria-label="..." class="pagination">
            <ul class="pagination">
                {% if db.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{db.previous_page_number}}" tabindex="-1" aria-disabled="true" id="anterior">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                {% endif%}

                {% for num in db.paginator.page_range %}
                    {% if num == db.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% else %}   
                        <li class="page-item">
                            <a class="page-link" href="?page={{num}}" id="num">{{ num }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                {% if db.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{db.next_page_number}}" id="proximo">Próximo</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próximo</a>
                    </li>    
                {% endif %}    
            </ul>
        </nav>
    </div>
{% else %}
            {% for dbs in filter %}
            <tr id="items">
            <th>{{dbs.id}}</th>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.tipo}}</td>
            <td>{{dbs.data}}</td>
            <td>{{dbs.quantidade}}</td>
                <td id="td">
                    <a href="/view/{{dbs.id}}/" class="btn btn-dark" >Visualizar</a>
                    <a href="/edit/{{dbs.id}}/" class="btn btn-primary" >Editar</a>
                    <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            <a href="/table" class="btn btn-info" id="gerar-pdf">GERAR PDF</a>
            <a href="/emprestimo" class="btn btn-warning">VENDAS</a>
            <a class="btn btn-primary" href="/accounts/logout" role="button" id="sair"><i class="fas fa-sign-in-alt"></i></a>
        </p>
    </div>
    <div class="pagination">
        <nav aria-label="..." class="pagination">
            <ul class="pagination">
                {% if filter.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{request.get_full_path}}&page={{filter.previous_page_number}}" tabindex="-1" aria-disabled="true" id="anterior">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                {% endif%}

                {% for num in filter.paginator.page_range %}
                    {% if num == filter.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% else %}   
                        <li class="page-item">
                            <a class="page-link" href="{{request.get_full_path}}&page={{num}}" id="num">{{ num }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                {% if filter.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{request.get_full_path}}&page={{filter.next_page_number}}" id="proximo">Próximo</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próximo</a>
                    </li>    
                {% endif %}    
            </ul>
        </nav>
    </div>
{% endif %}
{% endblock %}