{% extends 'base.html' %}

{% block title %}Estoque{%  endblock %}

{% block content %}
    <div class="col-8 m-auto mt-5 pt-1 pb-1 text-center">
        <h1>Visualização do {{db.nome}}</h1>
    </div>
    <div class="col-8 m-auto text-center dado" id="dados">
        <table>
          <caption class="text-center">Tabela</caption>
          <tr>
            <th>ID</th>
            <td>{{db.id}}</td>
          </tr>
          <tr>
            <th>Nome do Produto</th>
            <td>{{db.nome}}</td>
          </tr>
          <tr>
            <th>Descrição do Produto</th>
            <td>{{db.descricao}}</td>
          </tr>
          <tr>
            <th>Fornecedor</th>
            <td>{{db.fornecedor}}</td>
          </tr>
          <tr>
            <th>Quantidade</th>
            <td>{{db.quantidade}}</td>
          </tr>
          <tr>
            <th>Tipo do Produto</th>
            <td>{{db.tipo}}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{db.estado}}</td>
          </tr>
          <tr>
            <th>Data de Aquisição</th>
            <td>{{db.data}}</td>
          </tr>
          <tr>
            <th>Criado em</th>
            <td>{{db.criado_em}}</td>
          </tr>
        </table>
    </div>
    <div class="col-8 m-auto pt-1 pb-1 text-center">
        <button onclick="history.go(-1);" class="btn btn-info">Voltar</button>
        <input type="button" value="BAIXAR PDF" class="btn btn-danger" onclick="funcao_pdf()">
    </div>
{% endblock %}
